body,
ul,
h1,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

body {
  font-size: 12px;
  font-family: 'Microsoft YaHei', 'Arial';
  padding: 50px;
}

ul {
  list-style: none;
  padding: 0;
}

a,
a:hover {
  text-decoration: none;
  transition: all 0.2s;
}

.dropdown-menu {
  background-color: lightgray;
  font-family: 'Microsoft YaHei', 'Arial';
  font-size: smaller;
}

.main .pagination {
  margin: 0;
}


.login-body {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.login-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -66%);
}

.login-container .title {
  color: gray;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.login-container .login {
  width: 500px;
  height: 220px;
  border-top: 1px solid #646e81;
  padding: 20px;
  font-weight: 300;
}

.login-container .login label {
  font-weight: 500;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.main {
  height: 100%;
  background: #fafafb;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 25px;
}

.main .title {
  margin-bottom: 20px;
  position: relative;
}

.main .title h4 {
  color: gray;
  font-size: 22px;
  position: relative;
}

.main .btn-group {
  margin-top: 20px;
}

.form-container {
  padding: 20px;
  background: #FFF;
  box-shadow: 1px 1px 3px #ccc;
}

.form-group:last-child {
  margin-bottom: 0;
}

/* style of user */

.left-nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
}

.aside {
  width: 320px;
  height: 100%;
  overflow-y: auto;
  position: relative;
  background-color: rgb(39, 38, 38);
}

.menu li {
  color: #d1d1d1;
  display: block;
	padding: 10px 20px 15px 30px;
	position: relative;

}

.menu li :first-child {
  margin-top: 26px;
}

.menu li .glyphicon {
	margin-right: 8px;
}

.main .title .new {
	position: absolute;
	right: 0;
	top: 10px;
}

.main .title span {
	display: block;
	font-size: 14px;
	margin-top: 4px;
	color: #787e8f;
}

